<html>
	<head>
		{% if title %}
		<title>{{ title }} - Project R</title>
		{% else %}
		<title>Welcome to Project R</title>
		{% endif %}

		<link rel="stylesheet" type="text/css" href="/static/css/stripe.css">
	</head>
	<body>
		<div>Project R: <a href="/index">Home</a> | 
			{% if g.user.is_authenticated() %}
			{% if g.user.is_landlord() %}
			<a href="{{url_for('landlordDashboard')}}">Dashboard</a>
			{% else %}
			<a href="{{url_for('userDashboard')}}">Dashboard</a>
			{% endif %}
			 | 
			<a href="{{url_for('logout')}}">Logout</a>
			{% else %}
			<a href="{{url_for('userSignUp')}}">User Sign Up</a> | <a href="{{url_for('landlordSignUp')}}">Landlord Sign Up</a> | <a href="{{url_for('loginLandlord')}}">Landlord Login</a> | <a href="{{url_for('loginUser')}}"> User Login</a>
			{% endif %}
		</div> 
		<hr>
	    {% with messages = get_flashed_messages() %}
	    {% if messages %}
	    <ul>
	    {% for message in messages %}
	        <li>{{ message }} </li>
	    {% endfor %}
	    </ul>
	    {% endif %}
	    {% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>