{% extends "base.html" %}

{% block content %}
<h1>{{g.user.property_name}}</h1>
{% if g.user.stripe_key %}
<p>You are connected with <a href="https://dashboard.stripe.com" target="_blank">stripe!</a></p>
{% else %}
<p>Before you can start accepting payments from users, you must create an account with Stripe and connect it to our service.</p>
<a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id={{clientid}}&scope=read_write" class="stripe-connect"><span>Connect with Stripe</span></a>
{% endif %}
<p><a href="{{url_for('showLandlordTransactions')}}">View Latest Payments</a></p>
<br>
<h3>Your Registered Tenants</h3>
<table>
<tr>
<td><div><strong>Unit</strong></div></td>
<td><div style="padding-left: 5em;"><strong>Email</strong></div></td>
</tr>
{% for tenant in tenants %}
<tr>
	<td>
		<div>
		<p>{{tenant.unit}}</p>
		</div>
	</td>	
	<td>
		<div style="padding-left: 5em;">
		<p>{{tenant.email}}</p>
		</div>
	</td>
</tr>
{% endfor %}
</table>
{% endblock %}